.linkContainer {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.aLink {
    margin-top: 10px;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 10px;
}

Link{
    color: black;
    text-decoration: none;
}
